body {
    font-size: 0;
    margin: 0;
    background-image: linear-gradient(to top right, rgb(0, 0, 0), #6441A4);
}

.modal-body>p {
    font-size: 2vmin;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.containerVid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    width: 100%;
    height: 80%;
}

#livePlayers2 {
    display: flex;
    height: 25%;
    width: 100%;
}

.livePlayersContainerFirstPage {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modalButton {
    background-color: #6441A4;
    color: white;
}

.modal-body p {
    word-wrap: break-word;
}

.livePlayersContainerSecondPage {
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
}

.livePlayersFirstPage {
    display: flex;
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.arrow {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.arrow>div {
    width: 5%;
    display: flex;
    justify-content: center;
}

.up>img,
.down>img {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.livePlayersSecondPage {
    display: flex;
    width: 100%;
    height: 88%;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-wrap: wrap;
    justify-content: center;

}

.livePlayersFooterContainer {
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
}

.livePlayersFooter {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-wrap: wrap;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

.playerCard {
    display: flex;
    cursor: pointer;
    height: 50%;
    width: 40%;
    background-size: cover;
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    border: 1px groove white;
}

.playerCard2 {
    display: flex;
    cursor: pointer;
    height: 100%;
    width: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.playerCard:hover .nameCard {
    opacity: 0.80;
    height: 35%;
}

.playerCard:hover>.nameCard {
    top: 65%;
}

.playerCard2:hover .nameCard2 {
    opacity: 0.80;
    height: 100%;
}

.playerCard2:hover>.nameCard2 {
    top: 0%;
}

.playerCard2>.nameCard2 {
    width: 100%;
    overflow: hidden;
}

.nameCard {
    height: 0;
    width: 100%;
    top: 100%;
    position: absolute;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    transition: all .4s ease-out;
    display: flex;
    font-size: 1.5vw;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
}

.nameCard2 {
    height: 0;
    width: 100%;
    top: 100%;
    position: absolute;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    transition: all .4s ease-out;
    display: flex;
    font-size: 1.5vw;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.displayNone {
    display: none;
}

.iframeContainer {
    width: 59.75%;
}

.currentVideo {
    opacity: 0;
    justify-content: space-around;
    box-sizing: border-box;
    animation: fadeIn;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

#stats {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-content: space-around;
    width: 39%;
    height: 100%;
    flex-flow: wrap;

}

.statsModal {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-content: space-around;
    width: 39%;
    height: 100%;
    flex-flow: wrap;
    position: absolute
}

.statCard {
    opacity: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    width: 48%;
    height: 23%;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.statKey {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    display: flex;
    font-size: 2vw;
    width: 47%;
    font-family: 'Anton', sans-serif;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 3%;
}

.statValue {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 2vw;
    color: rgb(184, 247, 255);
    width: 53%;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(53, 76, 83, 0.438);
}


.name {
    display: flex;
    font-family: 'Oswald', sans-serif;
}

.game {
    display: flex;
    font-family: 'Oswald', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.footerContainer {
    width: 100%;
    height: 20%;
    display: flex;
}

.footer {
    position: relative;
    height: 100%;
    width: 100%;
}

.pic {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    /* height: 60%;
    width: 35%; */
    height: 100px;
}

@font-face {
    font-family: twitch;
    src: url(font/aurora.ttf);
}

.headerContainer {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.secondHeader {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: twitch;
    color: white;
    font-size: 5vmax;
}

.headerTextSecondPage {
    font-family: twitch;
    color: white;
    font-size: 3.5vmax;
    width: 93%;
    text-align: center;
}

.homeButton {
    height: 100%;
    width: 2%;
    font-size: 3vmax;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hide {
    visibility: hidden;
    display: none;
}


/* Desktops */
@media (min-width: 1281px) and (max-width: 1650px) {
    #stats {
        width: 40%;
        height: 80%;
    }
}

/* Laptops/Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .headerTextSecondPage {
        font-size: 4vmax;
    }

    img {
        height: 75px;
    }

    #stats {
        width: 40%;
        height: 67.5%;
    }

    .up>img,
    .down>img {
        width: 20px;
        height: 20px;
    }
}

/* Tablets, Ipads, Portrait */
@media (min-width: 768px) and (max-width: 1024px) {
    .headerTextSecondPage {
        font-size: 3vmax;
    }

    img {
        height: 70px;
        width: 70px;
    }

    .containerVid {
        height: 90%;
        align-content: center;
        justify-content: center;
    }

    .livePlayersContainerSecondPage {
        display:none;
    }

    .statCard {
        width: 47%;
        margin: 2px;
    }

    .iframeContainer {
        width: 70%;
    }

    #stats {
        display: flex;
        box-sizing: border-box;
        justify-content: space-around;
        align-content: space-around;
        width: 100%;
        height: 30%;
        flex-flow: wrap;
    }

    .up>img,
    .down>img {
        width: 30px;
        height: 30px;
    }
}

/* Low Res Tablets, Mobile Phones (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    .headerTextSecondPage {
        font-size: 3vmax;
    }

    img {
        width: 65px;
        height: 65px;
    }

    .arrow {
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .containerVid {
        height: 90%;
    }

    .livePlayersContainerSecondPage {
        display: none;
    }

    .statCard {
        width: 47%;
        margin: 2px;
    }

    #stats {
        width: 100%;
        height: 30%;
    }

    .iframeContainer {
        width: 90%;
    }

    .up>img,
    .down>img {
        width: 30px;
        height: 30px;
    }
}

/*Small Screen Sizes*/
@media (max-width: 481px) {
    .headerTextSecondPage {
        font-size: 2.5vmax;
    }

    .livePlayersContainerSecondPage {
        display: none;
    }

    img {
        height: 50px;
    }

    .arrow {
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .containerVid {
        height: 90%;
    }

    .statCard {
        width: 47%;
        margin: 2px;
    }

    #stats {
        width: 100%;
        height: 40%;
    }

    .iframeContainer {
        width: 93%;
    }

    .containerVid {
        justify-content: center;
    }

    .livePlayersContainerSecondPage {
        width: 100%;
        height: 24%;
        display: flex;
        justify-content: center;
    }

    .up>img,
    .down>img {
        width: 20px;
        height: 20px;
    }

    
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {}


/* iPad ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    img {
        height: 100px;
        width: 100px;
    }

    .arrow>div {
        width: 8%;
        display: flex;
        justify-content: center;
    }

    .iframeContainer {
        width: 97%;
    }

    .headerTextSecondPage {
        font-size: 4.5vmax;
    }
}

/* iPad Pro ----------- */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {
    /* img {
        height: 60%;
        width: 50%;
    } */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 568px) and (max-device-height: 320px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    img {
        height: 50px;
        width: 50px;
    }

    .up>img,
    .down>img {
        width: 25px;
        height: 25px;
    }

    #stats {
        width: 0%;
        display: none;
    }

    .containerVid {
        height: 100%;
    }

    .iframeContainer {
        width: 100%;
        height: 100%;
    }

    .secondHeader {
        display: none;
    }

    .livePlayersContainerSecondPage {
        display: none;
    }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    img {
        height: 50px;
        width: 50px;
    }

    #stats {
        width: 0%;
        display: none;
    }

    .containerVid {
        height: 100%;
    }

    .iframeContainer {
        width: 100%;
        height: 100%;
    }

    .secondHeader {
        display: none;
    }

    .livePlayersContainerSecondPage {
        display: none;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

    .text {
        font-family: twitch;
        color: white;
        font-size: 6vmax;
    }

    .arrow>div {
        width: 8%;
        display: flex;
        justify-content: center;
    }

}

@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    img {
        height: 35%;
        width: 75%;
    }

    .text {
        font-family: twitch;
        color: white;
        font-size: 5vmax;
    }

    .livePlayersContainerSecondPage {
        width: 100%;
        height: 24%;
        display: flex;
        justify-content: center;
    }

    #stats {
        width: 100%;
        height: 60%;
    }
}

/* Pixel 2 Landscape*/
@media only screen and (min-device-width: 731px) and (max-device-height: 411px) and (orientation : landscape) {
    .secondHeader {
        display: none;
    }

    .livePlayersContainerSecondPage {
        display: none;
    }

    #stats {
        display: none;
    }

    .iframeContainer {
        width: 100%;
    }
}

/* Pixel 2 XL Landscape*/
@media only screen and (min-device-width: 823px) and (max-device-height: 411px) and (orientation : landscape) {
    .secondHeader {
        display: none;
    }

    .livePlayersContainerSecondPage {
        display: none;
    }

    #stats {
        display: none;
    }

    .iframeContainer {
        width: 88%;
    }
}

/* Galaxy S5 Landscape */
@media only screen and (min-device-width: 640px) and (max-device-height: 360px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    .secondHeader {
        display: none;
    }

    .livePlayersContainerSecondPage {
        display: none;
    }

    #stats {
        display: none;
    }

    .iframeContainer {
        width: 100%;
    }
}

/* iPhone 6/7/8 Landscape */
@media only screen and (min-device-width: 667px) and (max-device-height: 375px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    .secondHeader {
        display: none;
    }

    .livePlayersContainerSecondPage {
        display: none;
    }

    #stats {
        display: none;
    }

    .iframeContainer {
        width: 100%;
    }
}

/* iPhone 6+/7+/8+ Landscape */
@media only screen and (min-device-width: 736px) and (max-device-height: 414px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    .secondHeader {
        display: none;
    }

    .livePlayersContainerSecondPage {
        display: none;
    }

    #stats {
        display: none;
    }

    .iframeContainer {
        width: 100%;
    }
}

/* iPhone X Landscape */
@media only screen and (min-device-width: 812px) and (max-device-height: 375px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
    .secondHeader {
        display: none;
    }

    .livePlayersContainerSecondPage {
        display: none;
    }

    #stats {
        display: none;
    }

    .iframeContainer {
        width: 82%;
    }

    .arrow {
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .containerVid {
        height: 100%;
    }
}

/* iPad Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-height: 768px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    .iframeContainer {
        width: 57%;
    }
}

.loader {
    color: #ffffff;
    font-size: 50px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    /* margin: 72px auto; */
    position: absolute;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}